
<div class="form">
<%= form_for @article do |f| %>
<%= render 'shared/error_messages', obj: @article %>
<div class="field">
  <%= f.label :name %>
  <div class="control has-icons-left has-icons-right">
    <%= f.text_field :name, class: "input is-success" %>
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
</div>

<div class="field">
  <%= f.label :description %>
  <div class="control has-icons-left has-icons-right">
    <%= f.text_field :description, class:"textarea", rows: "20" %>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
</div>
  <div class="button-1">
    <%= f.submit %>
  </div>
<% end %>
</div>