<!DOCTYPE html>
<html>
  <head>
    <title>Prov11</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <% if logged_in? %>
      <%= link_to 'Create Article', new_article_path, class: "button is-info is-outlined" %>
    <% end %>
    <%= render 'shared/flash'%>
    <%= yield %>
    <%= debug(params) if Rails.env.developmen? %>
  </body>
</html>
